* {
    background-color: transparent;
    color: aliceblue !important;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    text-align: center;
}

h1 {
    font-size: 200%;
    margin-top: none;
    margin-bottom: none;
    box-shadow: none;
}

.navbar {
    background-color: #333;
    color: aliceblue !important;
    border-top: none;
    box-shadow: none;
}
.para{
    background-color: #333;
}
iframe{
    border-width: medium;
}

/* CSS for Index page below*/

.R-Item {

height: 500px;
border-radius: 30%;

}

.R-Img{
    height: 100%;
    object-fit: cover;
    border-radius: 30%;

}

.ContainerIndex {
    padding: 50px;

}

.Col1{
    display: flex;
    flex-wrap: wrap;
   border-radius: 3%;
   border: 5px solid beige;
   justify-content: space-between;
}

.IndexCol1{

    flex:1 ;
    order:1;
    flex-grow: 3;
    
}

.IndexCol2 {

    flex:2 ;
    order:3;
   
}

.IndexCol3 {

    flex:3 ;
    order:3;
  
}

.IndexCol1 .IndexCol2 .IndexCol3 h2 {

	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;

}

.IndexCol1 .IndexCol2 .IndexCol3 h2 {
content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;

}
/* CSS for Index page ends */

/* Kamila's below */
.container1 {
    display: flex;
    width: 100%;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.row1 {
    flex: 1;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 10px;
}

.row2 {
    flex: 1;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 25px;
}

.column1 {
    float: left;
    width: 25%;
    padding: 10px;
}  

.column1 img {
    opacity: 0.8;
    cursor: pointer;
    width: 80%;
    border-radius: 25px;
}

.column1 img:hover {
    opacity: 1;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.container2 {
    position: relative;
    display: none;
}

#imgtext {
    position: relative;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

h3 {
    font-size: 250%;
    text-align: left;
}

.p2 {
    font-size: 150% !important;
    text-align: left !important;
}
