* {
    background-color: #333;
    color: aliceblue !important;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    text-align: center;
}

h1 {
    font-size: 200%;
    margin-top: none;
    margin-bottom: none;
    box-shadow: none;
}

.navbar {
    background-color: #333;
    color: aliceblue !important;
    border-top: none;
    box-shadow: none;
}
.para{
    background-color: #333;
}
iframe{
    border-width: medium;
}
